# Files
*.swp
*.Rhistory
R/Rplots.pdf
.Rbuildignore
*.Rproj
.RData

# Folders
man/
inst/doc
tests/testthat/output/

# Vignette output
vignettes/my_vignette.pdf
vignettes/testout/
vignettes/testoutstat/
vignettes/vignette_run/
vignettes/data/

hidden_file_ext = (
    ".renviron", ".rprofile", ".rproj", ".rproj.user", ".rhistory",
    ".rapp.history", ".o", ".sl", ".so", ".dylib", ".a", ".dll",
    ".def", ".ds_store", "unsrturl.bst", ".log", ".aux", ".backups",
    ".cproject", ".directory", ".dropbox", ".exrc", ".gdb.history",
    ".gitattributes", ".gitmodules", ".hgtags", ".project", ".seed",
    ".settings", ".tm_properties"
)
